@import "partials/base.scss";


body {
  // border: 1px solid black;
  max-width: 1080px;
  min-width: 365px;
}

.body-text {
  font-family: "Hind";
  font-size: 12px;
  color: $grey;
  text-align: justify;
}

.underline2 {
  text-decoration: underline;
}

.playfair-italic {
  font-family: "Playfair";
  font-style: italic;
  font-size: 15px;
  color: $grey;
  text-align: justify;
}

.sun {
  width: 35px;
}
