@import "https://fonts.googleapis.com/css?family=Hind:300,600|Montserrat|Playfair+Display:400,400i,700";
header {
  margin-left: 8%;
  margin-right: 8%;
  height: 75px;
  font-family: "Montserrat";
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  header .search {
    height: 12px; }
  header .nav {
    display: flex;
    justify-content: space-around; }
    header .nav a {
      margin-left: 10px;
      margin-right: 10px;
      text-decoration: none;
      color: black; }
  header .underline {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 6px;
    width: 75%;
    height: 2px;
    background: white; }
  header .link:hover .underline {
    background: #CAB586; }
  header .en {
    border: 1px solid #CAB586;
    text-align: center;
    width: 22px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; }

#sectionOne {
  float: left;
  z-index: -1;
  position: absolute;
  top: 80px; }
  #sectionOne .pic-beach {
    float: left;
    width: 213px; }
  #sectionOne .pic-container {
    position: relative;
    z-index: -1;
    top: 0px;
    height: 500px;
    width: 1080px; }
  #sectionOne .pic-flowers {
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    width: 85%;
    max-width: 867px;
    z-index: 0;
    box-shadow: 15px 8px 0px #CAB586; }

#sectionTwo {
  height: 385px;
  padding-left: 8%;
  padding-right: 8%; }
  #sectionTwo .left-text {
    width: 270px;
    float: left; }
  #sectionTwo .right-pic {
    float: right;
    height: 385px;
    width: 55%;
    max-width: 530px; }
  #sectionTwo .pic-jeans {
    width: 100%; }
  #sectionTwo .capital {
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    float: left;
    margin-right: 5px;
    color: black; }
  #sectionTwo a {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 12px;
    color: #252A2D; }
    #sectionTwo a:hover {
      color: #CAB586; }

#sectionThree {
  padding-right: 8%;
  height: 475px; }
  #sectionThree .left-pic {
    float: left;
    width: 55%; }
    #sectionThree .left-pic .grey-box {
      width: 16%;
      height: 475px;
      float: left;
      background: #252A2D;
      color: white; }
      #sectionThree .left-pic .grey-box .sideways {
        position: relative;
        padding-left: 0px;
        margin-left: 0px;
        transform: rotate(-90deg); }
    #sectionThree .left-pic .pic-headshot {
      width: 90%;
      max-width: 440px; }
  #sectionThree .right-text {
    width: 262px;
    float: right; }
  #sectionThree .hind-header {
    color: #252A2D;
    font-family: "Hind";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px; }
  #sectionThree a {
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 12px;
    color: #252A2D; }
    #sectionThree a:hover {
      color: #CAB586; }
  #sectionThree .container {
    width: 220px; }
    #sectionThree .container p {
      line-height: 15px;
      margin-bottom: 5px; }
    #sectionThree .container .underline {
      height: 2px;
      background: #CAB586;
      margin: 0px; }

#sectionOneText {
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  z-index: 1; }
  #sectionOneText .main-title {
    position: relative;
    left: 400px; }
  #sectionOneText .subtitle {
    position: relative;
    top: 110px;
    font-family: "Montserrat";
    font-size: 10px;
    letter-spacing: .5px;
    font-style: bold;
    color: white;
    width: 200px; }
  #sectionOneText .title {
    font-family: "Playfair Display";
    font-size: 55px;
    letter-spacing: 1px;
    width: 500px;
    color: white;
    line-height: 0px;
    position: relative;
    top: 75px; }
  #sectionOneText .white-line {
    background: white;
    height: 2px;
    width: 205px;
    position: relative;
    top: 96px;
    left: 185px; }
  #sectionOneText .side-text {
    float: left;
    width: 10%;
    min-width: 110px;
    padding-top: 5%;
    position: relative;
    color: white;
    line-height: 5px; }
    #sectionOneText .side-text .head {
      font-family: "Montserrat";
      font-size: 10px; }
    #sectionOneText .side-text .standard {
      font-family: "Hind";
      font-size: 10px; }
    #sectionOneText .side-text .italic {
      font-family: "Hind";
      font-size: 10px;
      font-style: italic;
      text-decoration: underline;
      line-height: 10px; }
    #sectionOneText .side-text .sideways {
      position: relative;
      top: 180px;
      left: -50px;
      font-size: 9px;
      font-family: "Montserrat";
      font-weight: bold;
      padding-left: 0px;
      margin-left: 0px;
      transform: rotate(-90deg); }
    #sectionOneText .side-text .vertical-line {
      height: 90px;
      width: 2px;
      background: #CAB586;
      position: relative;
      top: 255px;
      left: 5px; }
    #sectionOneText .side-text .para-one, #sectionOneText .side-text .para-two {
      margin-bottom: 4%; }
    #sectionOneText .side-text .para-one {
      position: relative;
      top: 35px; }
    #sectionOneText .side-text .para-two {
      position: relative;
      top: 60px; }
    #sectionOneText .side-text .sun {
      position: relative;
      top: 80px; }

#mid-text {
  text-align: center;
  margin-top: 60%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 36px; }
  #mid-text .container {
    width: 420px; }
  #mid-text .gold-caps {
    margin: 0px;
    font-family: "Montserrat";
    font-size: 11px;
    color: #CAB586; }
  #mid-text .playfair-header {
    margin: 7px;
    font-family: "Playfair Display";
    font-style: 400;
    font-size: 24px;
    letter-spacing: .5px; }
  #mid-text p {
    margin-top: 5px;
    text-align: center; }

.footer-header {
  background: #CAB586;
  height: 225px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: 400;
  color: white;
  letter-spacing: 1px; }

footer {
  background: #CAB586;
  display: flex; }
  footer .footer-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    height: 110px; }
  footer .ftr-nav {
    font-family: "Montserrat";
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 8%; }
    footer .ftr-nav a {
      color: white;
      text-decoration: none;
      margin-right: 20px; }
    footer .ftr-nav .underline {
      display: flex;
      justify-content: center;
      margin-left: 10px;
      margin-top: 6px;
      width: 100%;
      height: 2px;
      background: #CAB586; }
    footer .ftr-nav .ftr-link:hover .underline {
      background: white; }

body {
  width: 1080px; }

.body-text {
  font-family: "Hind";
  font-size: 12px;
  color: #9FABB3;
  text-align: justify; }

.underline2 {
  text-decoration: underline;
  color: #9FABB3;
  margin-right: 15px; }

.playfair-italic {
  font-family: "Playfair";
  font-style: italic;
  font-size: 15px;
  color: #9FABB3;
  text-align: justify; }

.sun {
  width: 35px; }

/*# sourceMappingURL=main.css.map */
