.footer-header {
  background: $gold;
  height: 225px;
  width: 100%;
  border: solid white 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: 400;
  color: white;
  letter-spacing: 1px;
}

footer {
background: $gold;
display: flex;
  .footer-nav {
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    align-items: center;
    height: 110px;
  }

  .ftr-nav {
    font-family: "Montserrat";
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
    }

    .underline {
      display: flex;
      justify-content: center;
      margin-left: 10px;
      margin-top: 6px;
      width: 100%;
      height: 2px;
      background: $gold;
    }

    .ftr-link:hover {
      .underline {
        background: white;
      }
    }
  }



}
