#mid-text {
  text-align: center;
  margin-top: 54%;
  height: 200px;
  // border: solid 1px red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 36px;

  .container {
    // border: solid 1px red;
    width: 400px;
  }

  .gold-caps {
    margin: 0px;
    font-family: "Montserrat";
    font-size: 11px;
    color: $gold;
  }

  .playfair-header {
    margin: 0px;
    font-family: "Playfair Display";
    font-style: 400;
    font-size: 24px;
  }

  p {
    margin-top: 5px;
    text-align: center;
  }




}
