#mid-text {
  text-align: center;
  margin-top: 35%;
  height: 200px;
  border: solid 1px red;

  .gold-caps {
    font-family: "Montserrat";
    font-size: 11px;
    color: $gold;
  }

  .playfair-header {
    font-family: "Playfair Display";
    font-style: 400;
    font-size: 30px;
  }




}
