#sectionThree {
  padding-right: 8%;
  // border: 1px solid pink;
  height: 475px;
  .left-pic {
  float: left;
  width: 55%;
  // border: 1px solid orange;
  .grey-box {
    width: 16%;
    height: 475px;
    float:left;
    background: $grey;
    color: white;

    .sideways {
      position: relative;
      padding-left: 0px;
      margin-left: 0px;
      transform: rotate(-90deg);
    }
  }
  .pic-headshot {
    width: 90%;
    max-width: 440px;
  }
}

  .right-text {
    // border: 1px solid pink;
    width: 262px;
    float: right;
  }

  .hind-header {
    color: $grey;
    font-family: "Hind";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px; }

  a {
    @include body-link;
  }

  .container  {
    width: 220px;
    // border: 1px solid black;
    p {
      line-height: 15px;
      margin-bottom: 5px;
    }
    .underline {
      height: 2px;
      background: $gold;
      margin: 0px;
    }
}

}
