#sectionOne {
  margin-bottom: 10%;

  .pic-beach {
    position: absolute;
    top: 83px;
    z-index: -1;
    width: 24%;
  }

  .pic-flowers {
    position: absolute;
    right: 8px;
    top: 83px;
    width: 78%;
    z-index: 0;
    box-shadow: 10px 10px 0px $gold;
  }
}
