#sectionOneText {

  // border: 1px solid pink;
  // max-width: 200px;
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  z-index: 1;


  .main-title {
    position: relative;
    left: 400px;
  }

  .subtitle {
    position: relative;
    top: 110px;
    font-family: "Montserrat";
    font-size: 10px;
    letter-spacing: .5px;
    font-style: bold;
    color: white;
    width: 200px;
  }

  .title {
    font-family: "Playfair Display";
    font-size: 55px;
    letter-spacing: 1px;
    width: 500px;
    color: white;
    line-height: 0px;
    position: relative;
    top: 75px;
  }

  .white-line {
    background: white;
    height: 2px;
    width: 205px;
    position: relative;
    top: 96px;
    left: 185px;
  }

  .side-text {
    float: left;
    // border: 1px solid pink;
    width: 10%;
    min-width: 110px;
    padding-top: 5%;
    position: relative;
    color: white;
    line-height: 5px;

    .head {
      @include head-text;
    }

    .standard {
      font-family: "Hind";
      font-size: 10px;
    }

    .italic {
      font-family: "Hind";
      font-size: 10px;
      font-style: italic;
      text-decoration: underline;
      line-height: 10px;
    }

    .sideways {
      position: relative;
      top: 180px;
      left: -50px;
      font-size: 9px;
      font-family: "Montserrat";
      font-weight: bold;
      padding-left: 0px;
      margin-left: 0px;
      transform: rotate(-90deg);
    }

    .vertical-line {
      height: 90px;
      width: 2px;
      background: $gold;
      position: relative;
      top: 255px;
      left: 5px;
    }

    .para-one, .para-two {
      margin-bottom: 4%;
    }

    .para-one {
      position: relative;
      top: 35px;
    }

    .para-two {
      position: relative;
      top: 60px;
    }

    .sun {
      position: relative;
      top: 80px;
    }
  }

}
