#sectionTwo {
  border: 1px solid black;
  height: 500px;
  padding: 0px;

  .left-text {
    width: 270px;
    float: left;
    border: 1px solid red;
  }

  .right-pic {
    float: right;
    height: 500px;
    width: 55%;
    max-width: 530px;
    border: 1px solid red;
  }
  .pic-jeans {
    width: 100%;
  }

  .capital {
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    float: left;
    margin-right: 5px;
  }

  a {
    @include body-link;
  }


}
