#sectionOne {
  // margin-bottom: 10%;
  float: left;
  z-index: -1;
  position: absolute;
  top: 80px;

  .pic-beach {
    float: left;
    // z-index: -1;
    width: 213px;
  }

  .pic-container {
    position: relative;
    z-index: -1;
    top: 0px;
    // border: 1px solid pink;
    height: 500px;
    width: 1080px;
  }
  .pic-flowers {
    position: relative;
    top: 0px;
    right: 0px;
    float: right;
    width: 85%;
    max-width: 867px;
    z-index: 0;
    box-shadow: 15px 8px 0px $gold;
  }


}
